.geral {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

.popular {
  text-align: center;
  width: 6rem;
  font-size: 14px;
  border-radius: 8px;
  background: var(--blue);
  color: var(--white);
  height: 2.5rem;

  margin-top: -0.5rem;
}

.cabecalho1 {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.cabecalho2 {
  width: 50%;
}

.cabecalho1 h1 {
  font-size: 48px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Open Sans", sans-serif;

  width: 80%;
  margin: -7rem auto;
}

.item1 {
  grid-area: "item1";
  text-align: center;
  width: 22rem;
  height: 30rem;
  background-color: var(--white);
  border-radius: 8px;
}

.item2 {
  grid-area: "item2";
  text-align: center;
  width: 22rem;
  height: 30rem;
  background-color: var(--white);
  border-radius: 8px;
}

.item3 {
  grid-area: "item3";
  text-align: center;
  width: 22rem;
  height: 30rem;
  background-color: var(--white);
  border-radius: 8px;
}

.planoBasicoHeader {
  background-color: var(--yellow);
  height: 4.75rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: initial;
  padding: 1.5rem 1.5rem 0rem;
  font-size: 18px;
  justify-content: space-between;
  display: flex;
}

.planoGratisHeader {
  height: 4.75rem;
  border-radius: 8px;
  text-align: initial;
  padding: 1.5rem 1.5rem 0rem;
  font-size: 18px;
}

.planoProfissionalHeader {
  height: 4.75rem;
  border-radius: 8px;
  text-align: initial;
  padding: 1.5rem 1.5rem 0rem;
  font-size: 18px;
}

.valor1 {
  display: flex;
  align-items: baseline;
  padding: 0rem 1.5rem 1rem;
  margin-top: 0.5rem;
}

.valor2 {
  display: flex;
  align-items: baseline;
  padding: 0rem 1.5rem 1rem;
  margin-top: 0.5rem;
}

.valor3 {
  display: flex;
  align-items: baseline;
  padding: 0rem 1.5rem 1rem;
  margin-top: 0.5rem;
}

.decimais1 {
  font-size: 20px;
}
.decimais2 {
  font-size: 20px;
}
.decimais3 {
  font-size: 20px;
}

.preco1 {
  color: var(--color-text);
  padding: 5px;
}

.preco2 {
  color: var(--color-text);
  padding: 5px;
}

.preco3 {
  color: var(--color-text);
  padding: 5px;
}

.informativo1 {
  text-align: initial;
  margin: 0 25px auto;
  color: var(--color-text);
}

.informativo2 {
  text-align: initial;
  margin: 0 25px auto;
  color: var(--color-text);
}

.informativo3 {
  text-align: initial;
  margin: 0 25px auto;
  color: var(--color-text);
}

.conteudo1 {
  color: var(--color-text);
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: initial;
  gap: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

.conteudo2 {
  color: var(--color-text);
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: initial;
  gap: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  padding: 0 1.5rem;
}

.conteudo3 {
  color: var(--color-text);
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: initial;
  gap: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  padding: 0 1.5rem;
}

.footer1 {
  margin-top: 9.6rem;
}
.footer2 {
  margin-top: 8.2rem;
}
.footer3 {
  margin-top: 6.8rem;
}
.assinar1 {
  border-radius: 10px;
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--blue);
  width: 18.5rem;
  height: 3rem;
  transition: all 0.3s;
  font-size: 18px;
}

.assinar1:hover {
  background-color: var(--blue);
  color: var(--white);
}

.assinar2 {
  border-radius: 10px;
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--blue);
  width: 18.5rem;
  height: 3rem;
  transition: all 0.3s;
  font-size: 18px;
}

.assinar2:hover {
  background-color: var(--blue);
  color: var(--white);
}

.assinar3 {
  border-radius: 10px;
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--blue);
  width: 18.5rem;
  height: 3rem;
  transition: all 0.3s;
  font-size: 18px;
}

.assinar3:hover {
  background-color: var(--blue);
  color: var(--white);
}
